## ðŸ¦œðŸ”— LangChain Agent mit einem SQL Toolkit

Zuerst enpacken wir unsere Demo Datenbank mit der wir gleich arbeiten werden.

In [1]:
! [ ! -f northwind.db ] && bunzip2 -k northwind.db.bz2

#### Wir erstellen das SQL Toolkit und den Agenten

In [2]:
from langchain_community.agent_toolkits.sql.base import SQLDatabaseToolkit
from langchain_community.utilities.sql_database import SQLDatabase
from helpers import llm

model = llm(temperature=0)
db = SQLDatabase.from_uri("sqlite:///northwind.db")
toolkit = SQLDatabaseToolkit(db=db, llm=model)
tools = toolkit.get_tools()

In [10]:
from langgraph.prebuilt import create_react_agent
from langchain.schema import AIMessage, SystemMessage
from langchain_core.runnables import chain

system_message_prompt = """You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Unless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for the relevant columns given the question.
You have access to tools for interacting with the database.
Only use the below tools. Only use the information returned by the below tools to construct your final answer.
You MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.
DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.
If the question does not seem related to the database, just return "I don't know" as the answer."""


@chain
def messages_modifier(messages):
    return [
        SystemMessage(system_message_prompt.format(dialect=toolkit.dialect, top_k=10)),
        messages[0],
        AIMessage(
            "I should look at the tables in the database to see what I can query. Then I should query the schema of the most relevant tables."
        ),
        *messages[1:],
    ]


agent_executor = create_react_agent(model, tools, messages_modifier=messages_modifier)

/var/folders/01/ywnzdvn56c16b5vdy9c7_q8w0000gn/T/ipykernel_26226/764382512.py:29: LangGraphDeprecationWarning: Parameter 'messages_modifier' in function 'create_react_agent' is deprecated as of version 0.1.9 and will be removed in version 0.3.0. Use 'state_modifier' parameter instead.
  agent_executor = create_react_agent(model, tools, messages_modifier=messages_modifier)

#### Looos....

In [11]:
from langchain.schema import HumanMessage


input_1 = {"messages": [HumanMessage(content="Where do I find the orders?")]}
print(input_1["messages"][0])
for chunk in agent_executor.stream(input_1):
    for state in chunk.values():
        for message in state["messages"]:
            message.pretty_print()

content='Where do I find the orders?'
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_kM3FBr5gSC5OoJAAB38cvgdj)
 Call ID: call_kM3FBr5gSC5OoJAAB38cvgdj
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Categories, CustomerCustomerDemo, CustomerDemographics, Customers, EmployeeTerritories, Employees, Order Details, Orders, Products, Regions, Shippers, Suppliers, Territories
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_fqn2Pm86yfC64djp6BuhTOEt)
 Call ID: call_fqn2Pm86yfC64djp6BuhTOEt
  Args:
    table_names: Orders
  sql_db_schema (call_qAR28p6YiextvjeWgbstFcgt)
 Call ID: call_qAR28p6YiextvjeWgbstFcgt
  Args:
    table_names: Order Details
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Orders" (
	"OrderID" INTEGER NOT NULL,
	"CustomerID" TEXT,
	"EmployeeID" INTEGER,
	"OrderDate" DATETIME,
	"RequiredDate" DATETIME,
	"ShippedDate" DATETIME,
	"ShipVia" INTEGER,
	"Freight" NUMERIC DEFAULT 0,
	"ShipName" TEXT,
	"ShipAddress" TEXT,
	"ShipCity" TEXT,
	"ShipRegion" TEXT,
	"ShipPostalCode" TEXT,
	"ShipCountry" TEXT,
	PRIMARY KEY ("OrderID"),
	FOREIGN KEY("ShipVia") REFERENCES "Shippers" ("ShipperID"),
	FOREIGN KEY("CustomerID") REFERENCES "Customers" ("CustomerID"),
	FOREIGN KEY("EmployeeID") REFERENCES "Employees" ("EmployeeID")
)

/*
3 rows from Orders table:
OrderID	CustomerID	EmployeeID	OrderDate	RequiredDate	ShippedDate	ShipVia	Freight	ShipName	ShipAddress	ShipCity	ShipRegion	ShipPostalCode	ShipCountry
10248	VINET	5	2016-07-04 00:00:00	2016-08-01 00:00:00	2016-07-16 00:00:00	3	16.7500000000	Vins et alcools Chevalier	59 rue de l-Abbaye	Reims	Western Europe	51100	France
10249	TOMSP	6	2016-07-05 00:00:00	2016-08-16 00:00:00	2016-07-10 00:00:00	1	22.2500000000	Toms SpezialitÃ¤ten	Luisenstr. 48	MÃ¼nster	Western Europe	44087	Germany
10250	HANAR	4	2016-07-08 00:00:00	2016-08-05 00:00:00	2016-07-12 00:00:00	2	25.0000000000	Hanari Carnes	Rua do PaÃ§o, 67	Rio de Janeiro	South America	05454-876	Brazil
*/
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Order Details" (
	"OrderID" INTEGER NOT NULL,
	"ProductID" INTEGER NOT NULL,
	"UnitPrice" NUMERIC DEFAULT 0 NOT NULL,
	"Quantity" INTEGER DEFAULT 1 NOT NULL,
	"Discount" REAL DEFAULT 0 NOT NULL,
	PRIMARY KEY ("OrderID", "ProductID"),
	FOREIGN KEY("ProductID") REFERENCES "Products" ("ProductID"),
	FOREIGN KEY("OrderID") REFERENCES "Orders" ("OrderID"),
	CHECK ([Discount]>=(0) AND [Discount]<=(1)),
	CHECK ([Quantity]>(0))
)

/*
3 rows from Order Details table:
OrderID	ProductID	UnitPrice	Quantity	Discount
10248	11	14.0000000000	12	0.0
10248	42	9.8000000000	10	0.0
10248	72	34.8000000000	5	0.0
*/
================================== Ai Message ==================================

The "Orders" table contains the following relevant columns:

- OrderID
- CustomerID
- EmployeeID
- OrderDate
- RequiredDate
- ShippedDate
- ShipVia
- Freight
- ShipName
- ShipAddress
- ShipCity
- ShipRegion
- ShipPostalCode
- ShipCountry

The "Order Details" table contains:

- OrderID
- ProductID
- UnitPrice
- Quantity
- Discount

To find the orders, I will query the "Orders" table for a list of orders along with their details. I will limit the results to 10 entries and order them by OrderDate to show the most recent orders first.

Here is the query I will execute:

```sql
SELECT OrderID, CustomerID, OrderDate, ShipName, ShipCity, ShipCountry
FROM Orders
ORDER BY OrderDate DESC
LIMIT 10;
```

Now, I will check the query for correctness before executing it.
Tool Calls:
  sql_db_query_checker (call_lQk1oyVsOcIzxuINW9v9Z5fB)
 Call ID: call_lQk1oyVsOcIzxuINW9v9Z5fB
  Args:
    query: SELECT OrderID, CustomerID, OrderDate, ShipName, ShipCity, ShipCountry
FROM Orders
ORDER BY OrderDate DESC
LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT OrderID, CustomerID, OrderDate, ShipName, ShipCity, ShipCountry
FROM Orders
ORDER BY OrderDate DESC
LIMIT 10;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_uEIK75kom8tmlUhytAc5E3PK)
 Call ID: call_uEIK75kom8tmlUhytAc5E3PK
  Args:
    query: SELECT OrderID, CustomerID, OrderDate, ShipName, ShipCity, ShipCountry
FROM Orders
ORDER BY OrderDate DESC
LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query

[(15271, 'EASTC', '2023-09-13 07:59:46', 'Maison Dewey', 'Bruxelles', 'Belgium'), (17398, 'KOENE', '2023-09-12 23:17:35', 'Simons bistro', 'Kobenhavn', 'Denmark'), (13810, 'ROMEY', '2023-09-12 15:34:26', 'Wilman Kala', 'Helsinki', 'Finland'), (26065, 'PARIS', '2023-09-11 08:24:51', 'Around the Horn', 'Colchester', 'UK'), (15220, 'BERGS', '2023-09-11 08:05:24', 'Ana Trujillo Emparedados y helados', 'MÃ©xico D.F.', 'Mexico'), (24207, 'BONAP', '2023-09-10 21:11:57', 'Eastern Connection', 'London', 'UK'), (23947, 'PICCO', '2023-09-10 20:21:52', 'Eastern Connection', 'London', 'UK'), (25494, 'FRANS', '2023-09-10 16:08:32', 'SantÃ© Gourmet', 'Stavern', 'Norway'), (15109, 'VICTE', '2023-09-10 09:38:12', 'Piccolo und mehr', 'Salzburg', 'Austria'), (14708, 'TOMSP', '2023-09-10 05:52:22', 'Hanari Carnes', 'Rio de Janeiro', 'Brazil')]
================================== Ai Message ==================================

Here are the most recent orders:

1. **Order ID:** 15271
   - **Customer ID:** EASTC
   - **Order Date:** 2023-09-13 07:59:46
   - **Ship Name:** Maison Dewey
   - **Ship City:** Bruxelles
   - **Ship Country:** Belgium

2. **Order ID:** 17398
   - **Customer ID:** KOENE
   - **Order Date:** 2023-09-12 23:17:35
   - **Ship Name:** Simons bistro
   - **Ship City:** Kobenhavn
   - **Ship Country:** Denmark

3. **Order ID:** 13810
   - **Customer ID:** ROMEY
   - **Order Date:** 2023-09-12 15:34:26
   - **Ship Name:** Wilman Kala
   - **Ship City:** Helsinki
   - **Ship Country:** Finland

4. **Order ID:** 26065
   - **Customer ID:** PARIS
   - **Order Date:** 2023-09-11 08:24:51
   - **Ship Name:** Around the Horn
   - **Ship City:** Colchester
   - **Ship Country:** UK

5. **Order ID:** 15220
   - **Customer ID:** BERGS
   - **Order Date:** 2023-09-11 08:05:24
   - **Ship Name:** Ana Trujillo Emparedados y helados
   - **Ship City:** MÃ©xico D.F.
   - **Ship Country:** Mexico

6. **Order ID:** 24207
   - **Customer ID:** BONAP
   - **Order Date:** 2023-09-10 21:11:57
   - **Ship Name:** Eastern Connection
   - **Ship City:** London
   - **Ship Country:** UK

7. **Order ID:** 23947
   - **Customer ID:** PICCO
   - **Order Date:** 2023-09-10 20:21:52
   - **Ship Name:** Eastern Connection
   - **Ship City:** London
   - **Ship Country:** UK

8. **Order ID:** 25494
   - **Customer ID:** FRANS
   - **Order Date:** 2023-09-10 16:08:32
   - **Ship Name:** SantÃ© Gourmet
   - **Ship City:** Stavern
   - **Ship Country:** Norway

9. **Order ID:** 15109
   - **Customer ID:** VICTE
   - **Order Date:** 2023-09-10 09:38:12
   - **Ship Name:** Piccolo und mehr
   - **Ship City:** Salzburg
   - **Ship Country:** Austria

10. **Order ID:** 14708
    - **Customer ID:** TOMSP
    - **Order Date:** 2023-09-10 05:52:22
    - **Ship Name:** Hanari Carnes
    - **Ship City:** Rio de Janeiro
    - **Ship Country:** Brazil

These are the latest orders in the database.

In [12]:
input_2 = {"messages": [HumanMessage(content="Which Employee has the most orders?")]}
for chunk in agent_executor.stream(input_2):
    for state in chunk.values():
        for message in state["messages"]:
            message.pretty_print()

================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_dQ2luOY8cChPXasFlMe53WCt)
 Call ID: call_dQ2luOY8cChPXasFlMe53WCt
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Categories, CustomerCustomerDemo, CustomerDemographics, Customers, EmployeeTerritories, Employees, Order Details, Orders, Products, Regions, Shippers, Suppliers, Territories
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_W2KnH8SeWJ8Z5FNhU7vffbTj)
 Call ID: call_W2KnH8SeWJ8Z5FNhU7vffbTj
  Args:
    table_names: Employees
  sql_db_schema (call_7ov1Xw4espSyrHT8bk8gvEC5)
 Call ID: call_7ov1Xw4espSyrHT8bk8gvEC5
  Args:
    table_names: Orders
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Employees" (
	"EmployeeID" INTEGER,
	"LastName" TEXT,
	"FirstName" TEXT,
	"Title" TEXT,
	"TitleOfCourtesy" TEXT,
	"BirthDate" DATE,
	"HireDate" DATE,
	"Address" TEXT,
	"City" TEXT,
	"Region" TEXT,
	"PostalCode" TEXT,
	"Country" TEXT,
	"HomePhone" TEXT,
	"Extension" TEXT,
	"Photo" BLOB,
	"Notes" TEXT,
	"ReportsTo" INTEGER,
	"PhotoPath" TEXT,
	PRIMARY KEY ("EmployeeID"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employees" ("EmployeeID")
)

/*
3 rows from Employees table:
EmployeeID	LastName	FirstName	Title	TitleOfCourtesy	BirthDate	HireDate	Address	City	Region	PostalCode	Country	HomePhone	Extension	Photo	Notes	ReportsTo	PhotoPath
1	Davolio	Nancy	Sales Representative	Ms.	1968-12-08	2012-05-01	507 - 20th Ave. E.Apt. 2A	Seattle	North America	98122	USA	(206) 555-9857	5467	b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00\x00d\x00d\x00\x00\xff\xec\x00\x11Ducky\x00\x01\x00\x0	Education includes a BA in psychology from Colorado State University in 1970.  She also completed "T	2	http://accweb/emmployees/davolio.bmp
2	Fuller	Andrew	Vice President, Sales	Dr.	1972-02-19	2012-08-14	908 W. Capital Way	Tacoma	North America	98401	USA	(206) 555-9482	3457	b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00\x00d\x00d\x00\x00\xff\xec\x00\x11Ducky\x00\x01\x00\x0	Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the Universit	None	http://accweb/emmployees/fuller.bmp
3	Leverling	Janet	Sales Representative	Ms.	1983-08-30	2012-04-01	722 Moss Bay Blvd.	Kirkland	North America	98033	USA	(206) 555-3412	3355	b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x02\x00\x00d\x00d\x00\x00\xff\xec\x00\x11Ducky\x00\x01\x00\x0	Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate	2	http://accweb/emmployees/leverling.bmp
*/
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Orders" (
	"OrderID" INTEGER NOT NULL,
	"CustomerID" TEXT,
	"EmployeeID" INTEGER,
	"OrderDate" DATETIME,
	"RequiredDate" DATETIME,
	"ShippedDate" DATETIME,
	"ShipVia" INTEGER,
	"Freight" NUMERIC DEFAULT 0,
	"ShipName" TEXT,
	"ShipAddress" TEXT,
	"ShipCity" TEXT,
	"ShipRegion" TEXT,
	"ShipPostalCode" TEXT,
	"ShipCountry" TEXT,
	PRIMARY KEY ("OrderID"),
	FOREIGN KEY("ShipVia") REFERENCES "Shippers" ("ShipperID"),
	FOREIGN KEY("CustomerID") REFERENCES "Customers" ("CustomerID"),
	FOREIGN KEY("EmployeeID") REFERENCES "Employees" ("EmployeeID")
)

/*
3 rows from Orders table:
OrderID	CustomerID	EmployeeID	OrderDate	RequiredDate	ShippedDate	ShipVia	Freight	ShipName	ShipAddress	ShipCity	ShipRegion	ShipPostalCode	ShipCountry
10248	VINET	5	2016-07-04 00:00:00	2016-08-01 00:00:00	2016-07-16 00:00:00	3	16.7500000000	Vins et alcools Chevalier	59 rue de l-Abbaye	Reims	Western Europe	51100	France
10249	TOMSP	6	2016-07-05 00:00:00	2016-08-16 00:00:00	2016-07-10 00:00:00	1	22.2500000000	Toms SpezialitÃ¤ten	Luisenstr. 48	MÃ¼nster	Western Europe	44087	Germany
10250	HANAR	4	2016-07-08 00:00:00	2016-08-05 00:00:00	2016-07-12 00:00:00	2	25.0000000000	Hanari Carnes	Rua do PaÃ§o, 67	Rio de Janeiro	South America	05454-876	Brazil
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_NZ3ca5jtx4325m1SmqTI9Lla)
 Call ID: call_NZ3ca5jtx4325m1SmqTI9Lla
  Args:
    query: SELECT Employees.FirstName, Employees.LastName, COUNT(Orders.OrderID) AS OrderCount
FROM Employees
JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID
GROUP BY Employees.EmployeeID
ORDER BY OrderCount DESC
LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT Employees.FirstName, Employees.LastName, COUNT(Orders.OrderID) AS OrderCount
FROM Employees
JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID
GROUP BY Employees.EmployeeID, Employees.FirstName, Employees.LastName
ORDER BY OrderCount DESC
LIMIT 10;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_F3Bnhl4GDKBBBbsk4HyyfnMu)
 Call ID: call_F3Bnhl4GDKBBBbsk4HyyfnMu
  Args:
    query: SELECT Employees.FirstName, Employees.LastName, COUNT(Orders.OrderID) AS OrderCount
FROM Employees
JOIN Orders ON Employees.EmployeeID = Orders.EmployeeID
GROUP BY Employees.EmployeeID, Employees.FirstName, Employees.LastName
ORDER BY OrderCount DESC
LIMIT 10;
================================= Tool Message =================================
Name: sql_db_query

[('Andrew', 'Fuller', 1852), ('Robert', 'King', 1823), ('Margaret', 'Peacock', 1812), ('Janet', 'Leverling', 1786), ('Nancy', 'Davolio', 1778), ('Michael', 'Suyama', 1743), ('Laura', 'Callahan', 1735), ('Anne', 'Dodsworth', 1731), ('Steven', 'Buchanan', 1668)]
================================== Ai Message ==================================

The employee with the most orders is **Andrew Fuller**, with a total of **1852 orders**.

#### Schauen wir mal, ob er das hier hinbekommt.

In [15]:
input_3 = {
    "messages": [
        HumanMessage(
            content="Which Customer has had the Order with the highest total cost ever? What was the Order Id?"
        )
    ]
}
for chunk in agent_executor.stream(input_3):
    for state in chunk.values():
        for message in state["messages"]:
            message.pretty_print()

================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_WRo7jPSzKBNq2EdZUXEAegGY)
 Call ID: call_WRo7jPSzKBNq2EdZUXEAegGY
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

Categories, CustomerCustomerDemo, CustomerDemographics, Customers, EmployeeTerritories, Employees, Order Details, Orders, Products, Regions, Shippers, Suppliers, Territories
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_rpxVjrQENOZXG5HeW82ezGPQ)
 Call ID: call_rpxVjrQENOZXG5HeW82ezGPQ
  Args:
    table_names: Orders
  sql_db_schema (call_PdbKeotFfwvpmk2hd1suoJLH)
 Call ID: call_PdbKeotFfwvpmk2hd1suoJLH
  Args:
    table_names: Customers
  sql_db_schema (call_Y7WMWoAWI9cw2rCo2FXSlLO5)
 Call ID: call_Y7WMWoAWI9cw2rCo2FXSlLO5
  Args:
    table_names: Order Details
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Orders" (
	"OrderID" INTEGER NOT NULL,
	"CustomerID" TEXT,
	"EmployeeID" INTEGER,
	"OrderDate" DATETIME,
	"RequiredDate" DATETIME,
	"ShippedDate" DATETIME,
	"ShipVia" INTEGER,
	"Freight" NUMERIC DEFAULT 0,
	"ShipName" TEXT,
	"ShipAddress" TEXT,
	"ShipCity" TEXT,
	"ShipRegion" TEXT,
	"ShipPostalCode" TEXT,
	"ShipCountry" TEXT,
	PRIMARY KEY ("OrderID"),
	FOREIGN KEY("ShipVia") REFERENCES "Shippers" ("ShipperID"),
	FOREIGN KEY("CustomerID") REFERENCES "Customers" ("CustomerID"),
	FOREIGN KEY("EmployeeID") REFERENCES "Employees" ("EmployeeID")
)

/*
3 rows from Orders table:
OrderID	CustomerID	EmployeeID	OrderDate	RequiredDate	ShippedDate	ShipVia	Freight	ShipName	ShipAddress	ShipCity	ShipRegion	ShipPostalCode	ShipCountry
10248	VINET	5	2016-07-04 00:00:00	2016-08-01 00:00:00	2016-07-16 00:00:00	3	16.7500000000	Vins et alcools Chevalier	59 rue de l-Abbaye	Reims	Western Europe	51100	France
10249	TOMSP	6	2016-07-05 00:00:00	2016-08-16 00:00:00	2016-07-10 00:00:00	1	22.2500000000	Toms SpezialitÃ¤ten	Luisenstr. 48	MÃ¼nster	Western Europe	44087	Germany
10250	HANAR	4	2016-07-08 00:00:00	2016-08-05 00:00:00	2016-07-12 00:00:00	2	25.0000000000	Hanari Carnes	Rua do PaÃ§o, 67	Rio de Janeiro	South America	05454-876	Brazil
*/
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Customers" (
	"CustomerID" TEXT,
	"CompanyName" TEXT,
	"ContactName" TEXT,
	"ContactTitle" TEXT,
	"Address" TEXT,
	"City" TEXT,
	"Region" TEXT,
	"PostalCode" TEXT,
	"Country" TEXT,
	"Phone" TEXT,
	"Fax" TEXT,
	PRIMARY KEY ("CustomerID")
)

/*
3 rows from Customers table:
CustomerID	CompanyName	ContactName	ContactTitle	Address	City	Region	PostalCode	Country	Phone	Fax
ALFKI	Alfreds Futterkiste	Maria Anders	Sales Representative	Obere Str. 57	Berlin	Western Europe	12209	Germany	030-0074321	030-0076545
ANATR	Ana Trujillo Emparedados y helados	Ana Trujillo	Owner	Avda. de la ConstituciÃ³n 2222	MÃ©xico D.F.	Central America	05021	Mexico	(5) 555-4729	(5) 555-3745
ANTON	Antonio Moreno TaquerÃ­a	Antonio Moreno	Owner	Mataderos  2312	MÃ©xico D.F.	Central America	05023	Mexico	(5) 555-3932	None
*/
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE "Order Details" (
	"OrderID" INTEGER NOT NULL,
	"ProductID" INTEGER NOT NULL,
	"UnitPrice" NUMERIC DEFAULT 0 NOT NULL,
	"Quantity" INTEGER DEFAULT 1 NOT NULL,
	"Discount" REAL DEFAULT 0 NOT NULL,
	PRIMARY KEY ("OrderID", "ProductID"),
	FOREIGN KEY("ProductID") REFERENCES "Products" ("ProductID"),
	FOREIGN KEY("OrderID") REFERENCES "Orders" ("OrderID"),
	CHECK ([Discount]>=(0) AND [Discount]<=(1)),
	CHECK ([Quantity]>(0))
)

/*
3 rows from Order Details table:
OrderID	ProductID	UnitPrice	Quantity	Discount
10248	11	14.0000000000	12	0.0
10248	42	9.8000000000	10	0.0
10248	72	34.8000000000	5	0.0
*/
================================== Ai Message ==================================

To find the customer who has had the order with the highest total cost, I need to calculate the total cost for each order. The total cost can be calculated by summing the product of `UnitPrice` and `Quantity` for each order in the `Order Details` table, and then joining it with the `Orders` and `Customers` tables to get the customer information.

I will write a query to achieve this. The query will:
1. Calculate the total cost for each order.
2. Join the result with the `Orders` and `Customers` tables to get the customer details.
3. Order the results by total cost in descending order and limit the results to 1 to get the highest total cost.

Here is the query I will use:

```sql
SELECT c.CustomerID, c.CompanyName, o.OrderID, total_cost
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
JOIN (
    SELECT OrderID, SUM(UnitPrice * Quantity) AS total_cost
    FROM "Order Details"
    GROUP BY OrderID
) AS order_totals ON o.OrderID = order_totals.OrderID
ORDER BY total_cost DESC
LIMIT 1;
```

Now, I will check this query for correctness before executing it.
Tool Calls:
  sql_db_query_checker (call_V1emc8OejFo6nLoYjAhMPbl8)
 Call ID: call_V1emc8OejFo6nLoYjAhMPbl8
  Args:
    query: SELECT c.CustomerID, c.CompanyName, o.OrderID, total_cost
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
JOIN (
    SELECT OrderID, SUM(UnitPrice * Quantity) AS total_cost
    FROM "Order Details"
    GROUP BY OrderID
) AS order_totals ON o.OrderID = order_totals.OrderID
ORDER BY total_cost DESC
LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT c.CustomerID, c.CompanyName, o.OrderID, total_cost
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
JOIN (
    SELECT OrderID, SUM(UnitPrice * Quantity) AS total_cost
    FROM "Order Details"
    GROUP BY OrderID
) AS order_totals ON o.OrderID = order_totals.OrderID
ORDER BY total_cost DESC
LIMIT 1;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_Dk58irsiFrAOmOZxOjZZsTAt)
 Call ID: call_Dk58irsiFrAOmOZxOjZZsTAt
  Args:
    query: SELECT c.CustomerID, c.CompanyName, o.OrderID, total_cost
FROM Orders o
JOIN Customers c ON o.CustomerID = c.CustomerID
JOIN (
    SELECT OrderID, SUM(UnitPrice * Quantity) AS total_cost
    FROM "Order Details"
    GROUP BY OrderID
) AS order_totals ON o.OrderID = order_totals.OrderID
ORDER BY total_cost DESC
LIMIT 1;
================================= Tool Message =================================
Name: sql_db_query

[('TORTU', 'Tortuga Restaurante', 24547, 71017.73)]
================================== Ai Message ==================================

The customer who has had the order with the highest total cost is **Tortuga Restaurante** (Customer ID: TORTU), and the Order ID is **24547**. The total cost of this order was **$71,017.73**.

#### Und noch einmal das batchen (async) demonstrieren.

In [13]:
from typing import Dict


async def format_output(item: Dict) -> str:
    return [item.get("messages")[0].content, item.get("messages")[-1].content]


batcher = agent_executor | format_output

In [16]:
result = await batcher.abatch([input_1, input_2, input_3])


for index, item in enumerate(result):
    print(f"Query {index+1}:")
    print(f"Question: {item[0]}")
    print(f"Answer: {item[1]}\n\n")

Query 1:
Question: Where do I find the orders?
Answer: Here are the most recent orders:

1. **Order ID:** 15271
   - **Customer ID:** EASTC
   - **Order Date:** 2023-09-13
   - **Ship Name:** Maison Dewey
   - **Ship City:** Bruxelles
   - **Ship Country:** Belgium

2. **Order ID:** 17398
   - **Customer ID:** KOENE
   - **Order Date:** 2023-09-12
   - **Ship Name:** Simons bistro
   - **Ship City:** Kobenhavn
   - **Ship Country:** Denmark

3. **Order ID:** 13810
   - **Customer ID:** ROMEY
   - **Order Date:** 2023-09-12
   - **Ship Name:** Wilman Kala
   - **Ship City:** Helsinki
   - **Ship Country:** Finland

4. **Order ID:** 26065
   - **Customer ID:** PARIS
   - **Order Date:** 2023-09-11
   - **Ship Name:** Around the Horn
   - **Ship City:** Colchester
   - **Ship Country:** UK

5. **Order ID:** 15220
   - **Customer ID:** BERGS
   - **Order Date:** 2023-09-11
   - **Ship Name:** Ana Trujillo Emparedados y helados
   - **Ship City:** MÃ©xico D.F.
   - **Ship Country:** Mexico

6. **Order ID:** 24207
   - **Customer ID:** BONAP
   - **Order Date:** 2023-09-10
   - **Ship Name:** Eastern Connection
   - **Ship City:** London
   - **Ship Country:** UK

7. **Order ID:** 23947
   - **Customer ID:** PICCO
   - **Order Date:** 2023-09-10
   - **Ship Name:** Eastern Connection
   - **Ship City:** London
   - **Ship Country:** UK

8. **Order ID:** 25494
   - **Customer ID:** FRANS
   - **Order Date:** 2023-09-10
   - **Ship Name:** SantÃ© Gourmet
   - **Ship City:** Stavern
   - **Ship Country:** Norway

9. **Order ID:** 15109
   - **Customer ID:** VICTE
   - **Order Date:** 2023-09-10
   - **Ship Name:** Piccolo und mehr
   - **Ship City:** Salzburg
   - **Ship Country:** Austria

10. **Order ID:** 14708
    - **Customer ID:** TOMSP
    - **Order Date:** 2023-09-10
    - **Ship Name:** Hanari Carnes
    - **Ship City:** Rio de Janeiro
    - **Ship Country:** Brazil

These are the latest orders available in the database.


Query 2:
Question: Which Employee has the most orders?
Answer: The employee with the most orders is **Andrew Fuller**, with a total of **1852 orders**.


Query 3:
Question: Which Customer has had the Order with the highest total cost ever? What was the Order Id?
Answer: The customer who has had the order with the highest total cost is **Tortuga Restaurante** (Customer ID: TORTU), and the Order ID is **24547** with a total cost of **$71,017.73**.

## âœ… Aufgabe

#### Ã„ndert alle Namen, die ihr in der Datenbank findet auf "Little Bobbie Tables;" (https://xkcd.com/327/)

In [ ]:
print(db.get_table_info())

In [ ]:
your_input = {"messages": [HumanMessage(content="")]}
for chunk in agent_executor.stream(your_input):
    for state in chunk.values():
        for message in state["messages"]:
            message.pretty_print()